{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <!-- 아래 텍스트에 링크추가, 클릭 시 해당하는 /post-detail/어딘가/로 이동하도록 함 -->
                <h5 class="card-title">
                    <a href="{% url 'url-name-post-detail' pk=post.pk %}">{{ post.title }}</a>
                </h5>
                <!--
                    linebreaksbr: 줄바꿈을 <br>태그로 변환
                    truncatechars: 뒤에 지정한 글자수만큼 표시 후 ...으로 줄임
                -->
                <p class="card-text">{{ post.text|linebreaksbr|truncatechars:250 }}</p>

                <div>
                    <div class="btn-container float-left">
                        <a href="{% url 'url-name-post-delete-confirm' pk=post.pk %}"
                           class="btn btn-danger btn-sm">삭제</a>
                        <a href="{% url 'url-name-post-edit' pk=post.pk %}"
                           class="btn btn-info btn-sm">수정</a>
                        {% if post.published_date %}
                        <form action="{% url 'url-name-post-unpublish' pk=post.pk %}" method="POST" class="d-inline-block">
                            {% csrf_token %}
                            <button class="btn btn-primary btn-sm">발행취소</button>
                        </form>
                        {% else %}
                        <form action="{% url 'url-name-post-publish' pk=post.pk %}" method="POST" class="d-inline-block">
                            {% csrf_token %}
                            <button class="btn btn-primary btn-sm">발행</button>
                        </form>
                        {% endif %}

                    </div>
                    <div class="text-right">
                        <span class="small">생성일자: {{ post.created_date }}</span>
                        {% if post.published_date %}
                            <br>
                            <span class="small">발행일자: {{ post.published_date }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}